section .slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 3s;
}

.slide-box img{
    width: 100%;
}

.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 34%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #00a2ffbb;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer; /* Para quando usuario passar o cursor ele virar um dedinho*/
    transition: 0.5s;

}

.nav-manual .manual-btn:not(:last-child){
    margin-right: 6px;
}

.nav-manual .manual-btn:hover{
    background-color: #00a2ffbb;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #00a2ffbb;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


/* Estilização do MOBILE */

