*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #1b1b1b;
     
}


/*Menu de Navegação*/

#navMenu  {
    background: linear-gradient(135deg, #2c2929 0%, #000000 100%);
    color: #ffffff;
    padding: 1rem 0;
    /*position: fixed;*/
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
    
}


nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}


nav a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
    font-weight: 500;
}


nav a:hover,
nav a.active {
    opacity: 1;
    font-weight: bold;
}


nav a {
    opacity: 0.8;
}

/* Instituicional */

#quemSomos {
    margin: auto;
    margin-top: 30px;
    width: 98%;
    height: auto;
    text-align: left;
    
}

.instituicional{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow-x: hidden;
}

.inst-content{
    margin-top: 30px;
    width: 100%;
    height: 32rem;
    display: flex;
    background-color: #dad8d8;
    
}

#missao{
    margin: auto;
    margin-top: 30px;
    width: 30%;
    height: auto;
    text-align: justify;
    
}

#visao{
    margin: auto;
    margin-top: 30px;
    width: 30%;
    height: auto;
    text-align: justify;
}

#valores{
    margin: auto;
    margin-top: 30px;
    width: 30%;
    height: auto;
    text-align: justify;
    
}

.cont-content{
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 10rem;
    
}

#contato{
    margin: 5px;
    margin-top: 4rem;
    text-align: left;

}

.endereco{
    font-size: 16px;
    font-style: normal;
    margin-top: 2.9rem;
    margin-left: 2rem;

}

#newsletter{
    margin-top: auto;
    margin-left: 20rem;
    text-align: center;
    

}

#img-news{
    width: 180px;
    height: 120px;
}    


/* Footer */

footer {
    text-align: center;
    padding: 2rem;
    background: #bbbaba;
    margin-top: 10px;
}
